@model CardListViewModel


<div class="container">
    <div class="row align-items-end">
        <div class="col-12">
            <div class="">
                <h1>
                    @Model.CategoryRoot
                </h1>
            </div>
        </div>
            @foreach (var card in Model.Cards)
            {
                <div class="col-lg-3 my-3">
                    <div>
                        <h2>
                            @card.CardName
                        </h2>
                        <img src="@card.CardImageUrl" alt="@card.CardName">
                        <h3>@card.CardPrice.ToString("c")</h3>
                    </div>
                </div>
            }
    </div>
</div>